[build]
  command = "cd frontend && npm install && npm run build && cp -r public/api dist/"
  publish = "frontend/dist"

[[redirects]]
  from = "/api/*"
  to = "/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200